@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
    }
    } */

body {
  background-image: radial-gradient(
    ellipse at top left,
    rgba(255, 255, 255),
    rgba(255, 255, 255, 0.1)
  );
}

.menu-hider {
  left: 0;
  top: 100px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}
